* {
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'BPdotsUnicase';
    src: url("../assets/fonts/BPdotsUnicase.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
}

/*-------WATCH PAGE-------*/

#watch-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#watch-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-image: url('../image/background.png');
    transition: all 700ms ease-in-out;
    background-size: auto 100%;
    zoom: 1;
    overflow: hidden;
}

#controls {
    z-index: 12;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../image/foreground.png');
    background-size: auto 100%;
    overflow: hidden;
}

/*-------WATCH PAGE : DATE-------*/

#date-bg {
    width: 52px;
    height: 52px;
    top: calc(50% - 27px);
    right: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#time-text {
    width: auto;
    height: auto;
    text-align: center;
    color: #FFFFFF;
    font-family: BPdotsUnicase;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0.02em;
    position: absolute;
    right: 17px;
    top: 133px;
    z-index: 15;
}

#date-text {
    width: auto;
    height: auto;
    text-align: center;
    color: #FFFFFF;
    font-family: BPdotsUnicase;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.02em;
    position: absolute;
    right: 19px;
    top: 182px;
    z-index: 15;
}

#battery-text {
    width: auto;
    height: auto;
    text-align: center;
    color: #FFFFFF;
    font-family: BPdotsUnicase;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    position: absolute;
    left: 53%;
    top: 53%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/*-------WATCH PAGE : HOUR-------*/

#hands-hr-needle {
    z-index: 2;
    width: 360px;
    height: 360px;
    position: absolute;
    left: 0px;
    background-size: 360px 360px;
    background-image: url('../image/watch-hour.png');
}

/*-------WATCH PAGE : MINUTE-------*/

#hands-min-needle {
    z-index: 4;
    width: 360px;
    height: 360px;
    position: absolute;
    left: 0px;
    background-size: 360px 360px;
    background-image: url('../image/watch-minute.png');
}

/*-------WATCH PAGE : SECOND-------*/

#hands-sec-needle {
    z-index: 6;
    width: 360px;
    height: 360px;
    position: absolute;
    left: 0px;
    background-size: 360px 360px;
    background-image: url('../image/watch-second.png');
}

#logs {
    display: none;
    z-index: 20;
    background: #333333;
    position: absolute;
    width: 100%;
    top: 60%;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
}